 .imgagen{
    background-image: url("Imagen1.jpg");
    background-position: left;
 }
 
 .fondoColor1{
    background-color: teal;
    color: white;
}

.fondoColor2{
    background-color: aqua;
    color: black;
}

.a{
    background-color: black;
}